
.header_infor dl{
    dt{
        background-color: #f8f8f8;
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
    }
    dd{
        padding-left: 10px;
    }
}

.mt-10{margin-top: 10px;}
.mt-30{margin-top: 30px;}