$primary: rgb(0, 116, 217);
$danger: #ff4136;
.score-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0 10px;
}
.score{
    display: flex;
    align-items: center;
    .up {
        color: $primary;
      }
      
      .down {
        color: $danger;
      }
      .icon {
        margin-left: 5px;
      }
      em{
        font-style: normal;
        font-weight: 500;
        margin-left: 3px;
      }
}