$primary: #3498db; // 원하는 primary 색상
$danger: #e74c3c; // 원하는 danger 색상
$gray: #7f8c8d;   // 원하는 gray 색상

$color-safe: #4CAF50;
$color-normal: #2196F3;
$color-caution: #FF9800;
$color-danger: #F44336;

.page1-content1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 20px;
    .child1{
        display: flex;
        align-items: flex-start;
        gap: $gap;
        width: 65%;
        flex-wrap: wrap;
        .child1-1{
            width: calc(65% - $gap);
        }
        .child1-2{
            width: 35%;
        }
        .child1-3{
            width: 100%;
        }
    }
    .child2{
        flex: 1 1 30%;
        padding-left: 20px;
        border-left: 1px dashed #b6b4b4;
    }
}