@import url("./custom.css");
$primary: #3498db; // 원하는 primary 색상
$danger: #e74c3c; // 원하는 danger 색상
$gray: #7f8c8d;   // 원하는 gray 색상

$color-safe: #4CAF50;
$color-normal: #2196F3;
$color-caution: #FF9800;
$color-danger: #F44336;

$gap: 15px;

.u{
    text-decoration: underline;
}

.color-primary {
  color: $primary;
}

.color-danger {
  color: $danger;
}

.color-gray {
  color: $gray;
}

.color-safe {
  color: $color-safe;
}

.color-normal {
  color: $color-normal;
}

.color-caution {
  color: $color-caution;
}

// 배경색 설정
.bg-primary {
  background-color: $primary;
}

.bg-danger {
  background-color: $danger;
}

.bg-gray {
  background-color: $gray;
}

.bg-safe {
  background-color: $color-safe;
}

.bg-normal {
  background-color: $color-normal;
}

.bg-caution {
  background-color: $color-caution;
}

/*  배경 */
.alert-bg{
    border-radius: 5px;
    padding: 15px;
    border: 1px solid #ddd;
    &-gray{
        background-color: #eee;
    }
    &-blue{
        background-color: #e2edf8;
    }
}

.badge{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 37px;
    padding: 0 15px;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    &-danger{
        background-color: $danger;
    }
    &-primary{
        background-color: $primary;
    }
}


table.simple-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

table.simple-table th, table.simple-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-size: 15px;
}

table.simple-table th {
    background-color: #2980B9;
    color: white;
    font-size: 15px;
}

table.simple-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table.simple-table tr.p0 td{
    padding: 0;
    &.active{
        div{
            font-weight: 700;
            color: #000;
            &::after{
                display: block;
            }
        }
    }
    div{
        position: relative;
        padding: 5px 0;
        &::after{
            content:"";
            display: none;
            position: absolute;
            left: 0;top: -1px;right: 0;bottom: 0;
            border: 1px solid $primary;
            background-color: rgba(0, 116, 217,0.25);
        }
    }
}

table.modern-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

table.modern-table th, table.modern-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

table.modern-table th {
    background-color: #34495E;
    color: white;
    font-weight: bold;
}

// table.modern-table tr:nth-child(even) {
//     background-color: #f9f9f9;
// }

.text-center{text-align: center !important;}
table.modern-table tbody{
    td{
        border-left: 1px solid #ddd;
    }
}

table.read-table{
    width: 100%;
    border-top: 1px solid #333;
    tr:not(:first-child){
        td,
        th{
            border-top: 1px solid #ddd;
        }
    }
    th,
    td{
        padding: 12px;
        font-size: 15px;
        background-color: #fff;
    }
    th{
        background-color: #eee;
        border-right: 1px solid #ddd;
    }
    td{
       padding-left: 15px; 
    }
}
.listh45{
    tbody{
        tr{
            td,
            th{
                padding-top: 8px;
                padding-bottom: 8px;
                height: 45px;
            }
            td{padding-left: 0;padding-right: 0;}
        }
    }
}



.content-title{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #2C3E50;
}
.page-title3{
    position: relative;
    padding-left: 10px;
    line-height: 1.5;
    font-size: 15px;
    &::after{
        content:"";
        display: block;
        position: absolute;
        width: 3px;height: 3px;
        background-color: #1a1919;
        border-radius: 50%;
        left: 0;
        top: 8px;
    }
}

.note{margin-top: 10px;font-size: 16px;}

.list-round{
    > li{
        position: relative;
        padding-left: 10px;
        line-height: 1.5;
        font-size: 15px;
        &::after{
            content:"";
            display: block;
            position: absolute;
            width: 3px;height: 3px;
            background-color: #1a1919;
            border-radius: 50%;
            left: 0;
            top: 8px;
        }
        &:not(:first-child){
            margin-top: 10px;
        }
        .list-dash{
            margin-top: 4px;
        }
    }
    &-sm{
        > li{
            font-size: 13px;
            &:not(:first-child){
                margin-top: 2px;
            }
        }
    }
}
.list-dash{
    > li{
        line-height: 1.5;
        position: relative;
        font-size: 14px;
        padding-left: 14px;
        &::after{
            content:"-";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
        }
        &:not(:first-child){
            margin-top: 5px;
        }
    }
}

td:has(.gbar4){
    padding: 0 !important;
    
}
.gbar4{
    position: relative;
    height: 26px;
    width: 100%;
    .range{
        position: absolute;
        left: 0;
        height: 100%;
        background-color: #6191c1;
        border: 1px solid #1561ae;
        border-left: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 0;
    }
    .shadow{
        position: absolute;
        left: 0;
        height: 100%;
        background: repeating-linear-gradient(
            45deg,
            white,
            white 2px,
            #888 1px,
            #888 4px
        );
        border: 1px solid #ccc;
        border-left: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 0;
    }
}

@import url("./page1.css");
@import url("./page2.css");
