

/*  배경 */
.alert-bg{
    border-radius: 8px;
    padding: 15px;
    &-gray{
        background-color: #f8f9fa;
    }
}

.badge{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    padding: 0 20px;
    border-radius: 8px;
}